trigger:
- feature/*
- main

pool: infra

stages:
- stage: Build
  jobs:
  - job: TerraformJob
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: CmdLine@2
      displayName: Terraform Version
      inputs:
        script: |
          terraform -version
