stages:
- stage: PreCommit
  displayName: Pre-Commit / Static Analysis Stage
  pool: infra
  jobs: 
  - job: TerraformValidate
    displayName: Terraform Validate
    continueOnError: true   # fail hone par bhi next job chale
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'
        backendAzureRmStorageAccountName: 'tfstate2025abc123'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev/terraform.tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'

  - job: TerraformFmt
    dependsOn: TerraformValidate
    displayName: Terraform Fmt
    condition: succeededOrFailed()   # previous job fail hone par bhi run
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'custom'
        environmentServiceNameAzureRM: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        outputTo: 'console'
        customCommand: 'fmt'

  - job: tfsec
    dependsOn: TerraformFmt
    displayName: TfSec Scan
    condition: succeededOrFailed()
    steps:
    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
        dir: '$(System.DefaultWorkingDirectory)/environment/dev'

  - job: tflint
    dependsOn: tfsec
    displayName: TFLint
    condition: succeededOrFailed()
    steps:
    - task: PowerShell@2
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          winget install TerraformLinters.tflint     
          ls   
          tflint
        errorActionPreference: 'continue'        
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'

- stage: costStage
  dependsOn: PreCommit
  displayName: Cost & Impact Assessment Stage
  condition: succeededOrFailed()  # PreCommit fail ho bhi costStage chale
  jobs: 
  - job: InfraCost
    displayName: InfraCost
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'infracost breakdown --path=.'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'

- stage: plan
  displayName: Plan & Review Stage
  pool: infra
  dependsOn: PreCommit
  condition: succeededOrFailed()
  jobs: 
  - job: TerraformPlan
    displayName: Terraform Plan
    steps: 
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'
        backendAzureRmStorageAccountName: 'tfstate2025abc123'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev/terraform.tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        environmentServiceNameAzureRM: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'

# Approval & Apply stages bhi similar condition laga do
- stage: approval
  dependsOn: plan
  displayName: Approval & Governance Stage
  condition: succeededOrFailed()
  jobs:
  - job: ManualApproval
    displayName: Manual Approval
    pool: server
    steps: 
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'ankitlodhi11@gmail.com'

- stage: apply
  dependsOn: approval
  displayName: Deploy / Apply Stage
  pool: infra
  condition: succeededOrFailed()
  jobs:
  - job: TerraformApply
    displayName: Terraform Apply
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'
        backendAzureRmStorageAccountName: 'tfstate2025abc123'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev/terraform.tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        environmentServiceNameAzureRM: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'
