trigger: none
pr: none

stages:
- stage: Terraform_Dev
  displayName: 'Terraform Dev Stage'
  jobs:

  # ======================
  # Job 1: Terraform Init
  # ======================
  - job: Terraform_Init
    displayName: 'Terraform Init Job'
    pool:
      name: infra
    steps:
    - checkout: self

    - task: CmdLine@2
      displayName: 'Terraform Init (DEV)'
      inputs:
        script: |
          terraform --version
          terraform init
        workingDirectory: environment/dev

  # ======================
  # Job 2: Terraform Plan
  # ======================
  - job: Terraform_Plan
    displayName: 'Terraform Plan Job'
    dependsOn: Terraform_Init
    pool:
      name: infra
    steps:
    - checkout: self

    - task: CmdLine@2
      displayName: 'Terraform Plan (DEV)'
      inputs:
        script: |
          terraform plan -out=tfplan
        workingDirectory: environment/dev
