trigger: none
pr: none

pool:
  name: infra

steps:
- checkout: self

# Terraform Init (DEV)
- script: |
    terraform --version
    terraform init
  workingDirectory: environment/dev
  displayName: Terraform Init (DEV)

# Terraform Plan (DEV)
- script: |
    terraform plan -out=tfplan
  workingDirectory: environment/dev
  displayName: Terraform Plan (DEV)
