trigger: none
pr: none

pool:
  name: assigment

steps:
- checkout: self

# Terraform Init
- script: |
    terraform --version
    terraform init
  displayName: Terraform Init

# Terraform Plan
- script: |
    terraform plan -out=tfplan
  displayName: Terraform Plan
