trigger: none
pr: none

stages:
- stage: Terraform_Dev
  displayName: 'Terraform Dev Stage'
  jobs:

  # ======================
  # Job 1: Terraform Init
  # ======================
  - job: Terraform_Init
    displayName: 'Terraform Init Job'
    pool:
      name: infra
    steps:
    - checkout: self
    - task: Bash@3
      displayName: 'Terraform Init (DEV)'
      inputs:
        targetType: inline
        script: |
          terraform --version
          terraform init
        workingDirectory: environment/dev

  # ======================
  # Job 2: Terraform Plan
  # ======================
  - job: Terraform
