trigger: none

pool: infra

stages:
- stage: TerraformPlanStage
  displayName: Terraform Init & Plan
  jobs:
  - job: TerraformPlan
    displayName: Terraform Init & Plan
    steps:
    # ---------------- Terraform Init ----------------
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'  # Original Service Connection Name
        backendAzureRmResourceGroupName: 'infra-tfstate'  # Resource Group for backend
        backendAzureRmStorageAccountName: 'tfstate2025abc123'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev/terraform.tfstate'

    # ---------------- Terraform Plan ----------------
    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        environmentServiceNameAzureRM: 'Azure subscription 1(56de03ab-1570-40b1-bd13-5a9ca5b1e106)'
