trigger: 
  - feature/*
  - main

pool: infra

variables:
  workDir: '$(System.DefaultWorkingDirectory)/environments/dev'

stages:
- stage: Build
  displayName: TerraformStage
  jobs:
  - job: TerraformJob
    steps:
    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: 'latest'
